.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

img {
  width: 100px;
  height: 100px;
}
