.category-list {
  list-style-type: none;
  padding: 0;
}

.category-item {
  margin-bottom: 16px;
}

.category-name {
  margin-bottom: 16px;
  justify-content: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  cursor: pointer;
  background-color: #afafaf;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  width: 100px;
  margin-right: 10px
}